@font-face {
  font-family: 'bahij';
  src: url("../fonts/bahij-sultannahia.ttf");
}

@font-face {
  font-family: 'chronica';
  src: url("../fonts/ChronicaPro-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 20px;
}

.menu__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__logo {
  display: inline-block;
  width: 125px;
  height: 50px;
  min-width: 140px;
  background: url("../img/pharmacy/kisspng-mortar-and-pestle-logo-design-pharmacy-herbal-medicine-clinic-health-food-and-more-5d39a7e823cde7.1143271015640596241467.png") center/contain no-repeat;
  margin-right: 5%;
}

.menu__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__options .option {
  margin: 0 10px;
  line-height: 40px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #464646;
}

.menu__options .option:hover {
  color: #000;
  text-shadow: 1px 2px 2px #606e7e;
}

.menu__options .option:active {
  color: white;
  text-shadow: 2px 2px 8px #000;
}

@media (max-width: 768px) {
  .menu__options {
    display: none;
  }
}

.menu__cart {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("../img/cart.png") center/30px 30px no-repeat;
  margin-left: 15px;
}

.menu__cart:hover {
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  background-color: #8aedff;
  outline: 1px solid #000;
  border-radius: 7px;
  -webkit-box-shadow: 0px 3px 3px #000;
          box-shadow: 0px 3px 3px #000;
}

.menu__cart:active {
  position: relative;
  top: 3px;
  background-color: #01c0ff;
  -webkit-box-shadow: 0px 2px 1px #000;
          box-shadow: 0px 2px 1px #000;
}

.menu__icon {
  display: none;
}

@media (max-width: 768px) {
  .menu__icon {
    display: block;
    width: 28px;
    margin-left: 20px;
  }
}

.footer {
  margin-top: auto;
  padding: 20px 10px;
  background-color: #000;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
}

@media (max-width: 480px) {
  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__col {
  padding: 0 10px;
}

.footer__col:first-child, .footer__col:nth-child(2) {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.footer__col:nth-child(3), .footer__col:last-child {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@media (max-width: 480px) {
  .footer__col {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.footer__title {
  text-align: center;
  color: white;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .footer__title {
    font-size: 12px;
  }
}

.footer__subtitle {
  text-align: center;
  line-height: 20px;
  color: #606e7e;
  font-size: 14px;
}

@media (max-width: 768px) {
  .footer__subtitle {
    display: none;
  }
}

.footer__img {
  margin: 0  auto 15px auto;
  width: 125px;
  height: 50px;
  background: url("../img/pharmacy/kisspng-mortar-and-pestle-logo-design-pharmacy-herbal-medicine-clinic-health-food-and-more-5d39a7e823cde7.1143271015640596241467.png") center/contain no-repeat;
}

@media (max-width: 768px) {
  .footer__img {
    max-width: 40%;
  }
}

.content {
  background: -webkit-gradient(linear, left bottom, left top, from(#b094f1), to(#8aedff));
  background: linear-gradient(0deg, #b094f1 0%, #8aedff 100%);
}

.header {
  background: #8aedff;
}

.menu2 {
  height: 44px;
}

.menu2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 auto;
}

.menu2__link {
  display: inline-block;
  text-align: center;
  font-family: 'chronica';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #000;
  text-shadow: 0px 4px 4px #464646;
  padding: 0 20px;
  margin: 0 10px;
  border: 1px solid #000;
  border-radius: 23px;
  background-color: white;
}

@media (max-width: 768px) {
  .menu2__link {
    width: 50%;
    font-size: 15px;
    line-height: 20px;
    color: #000;
    text-shadow: 0px 4px 4px #464646;
    padding: 0 10px;
    margin: 0 5px;
  }
}

.menu2__delete_account_link:hover {
  color: white;
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
  background-color: rgba(255, 40, 40, 0.579);
}

.menu2__delete_account_link:active {
  color: white;
  position: relative;
  top: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f80000;
}

.menu2__edit_account_link:hover {
  color: white;
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
  background-color: #b094f1;
}

.menu2__edit_account_link:active {
  color: white;
  position: relative;
  top: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #7237fc;
}

.menu2__logout_link:hover {
  color: white;
  -webkit-box-shadow: 1px 2px 5px #000;
          box-shadow: 1px 2px 5px #000;
  background-color: #29e0d1;
}

.menu2__logout_link:active {
  color: white;
  position: relative;
  top: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: rgba(68, 255, 68, 0.43);
}

@media (max-width: 768px) {
  .menu2__logout_link {
    line-height: 40px;
  }
}

.main {
  background: #464646;
  border-radius: 30px;
  padding: 20px;
  min-width: 320px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 555px) {
  .main__row {
    line-height: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.content {
  padding-bottom: 20px;
}

.main__side_bar {
  margin-top: 126px;
  margin-bottom: 5%;
  width: 105px;
  height: 46.66667%;
  background: white;
  border-radius: 30px;
}

@media (max-width: 555px) {
  .main__side_bar {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.side_bar_link {
  display: block;
  width: 67px;
  height: 62px;
  margin-left: 19px;
  margin-right: 19px;
  margin-bottom: 15px;
  border-radius: 14px;
}

.main__pc_link {
  background: url("../img/main/monitor.svg") center/35px 33px no-repeat;
}

.main__people_link {
  background: url("../img/main/users-alt.svg") center/35px 33px no-repeat;
}

.main__cloud_link {
  background: url("../img/main/cloud-share.svg") center/35px 33px no-repeat;
}

.main__settings_link {
  background: url("../img/main/cog.svg") center/35px 33px no-repeat;
}

.main__body {
  margin-top: 30px;
  margin-left: 37px;
  -ms-flex-preferred-size: 90%;
      flex-basis: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 555px) {
  .main__body {
    margin-left: 0;
  }
}

.main__fullname {
  width: 41.11111%;
  width: 40%;
  background: white;
  border-radius: 30px;
  margin-bottom: 34px;
}

@media (max-width: 768px) {
  .main__fullname {
    width: 100%;
  }
}

.main_item {
  padding: 32px 40px;
}

.main__subtitle {
  font-family: 'bahij', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 33px;
  color: #606e7e;
}

.main__title {
  font-family: 'bahij', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
}

.main__username {
  width: 48.9916%;
  width: 58%;
  background: white;
  border-radius: 30px;
  margin-bottom: 34px;
}

@media (max-width: 768px) {
  .main__username {
    width: 100%;
  }
}

.phone_and_email {
  width: 50.83333%;
}

@media (max-width: 768px) {
  .phone_and_email {
    width: 100%;
  }
}

.main__phone {
  background: white;
  border-radius: 30px;
  margin-bottom: 34px;
}

.main__password {
  width: 45.96639%;
  border-radius: 30px;
  background: url("../img/main/data.jpg") center/50% no-repeat, white;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  margin-bottom: 34px;
  position: relative;
}

@media (max-width: 768px) {
  .main__password {
    width: 100%;
  }
}

.main__password #password__hidden {
  opacity: 0;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.main__password #btn_emulator {
  display: block;
  padding: 0 20px;
  line-height: 24px;
  border: 1px solid #000;
  border-radius: 20px;
  background-color: rgba(68, 255, 68, 0.43);
  position: absolute;
  bottom: 35px;
  right: 20px;
}

.main__password #btn_emulator:hover #password__hidden {
  opacity: 1;
}

@media (max-width: 768px) {
  .main__password #btn_emulator {
    margin-left: 10px;
  }
}

#email__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__email {
  border-radius: 30px;
  background-color: white;
  padding: 18px 0 18px 18px;
  margin-bottom: 34px;
}

.main__email .email__content {
  margin-right: 10px;
}

.main__email .email__img {
  width: 20%;
}

.main__email .email__img img {
  width: 100%;
}
