$purple: #b094f1;
$dark-purple: #7237fc;
$blue_easy: rgb(138, 237, 255);
$blue: #01c0ff;
$blue_grey: rgb(1, 130, 173);
$grey: rgb(208, 208, 208);
$white: rgb(255, 255, 255);
$dark_gray: rgb(70, 70, 70);
$white_gray:#606e7e;
$black:#000;
$semi-red:rgba(255, 40, 40, 0.579);
$red:rgb(248, 0, 0);
$cian:rgb(41, 224, 209);
$green:rgba(68, 255, 68, 0.43);
$orange:rgb(254, 112, 46);