@import "nullstyle.scss";
@import "color.scss";
@import "header_and_footer.scss";
@import "templates.scss";
@import "mixines.scss";

.general_header{
   flex: 1 1 auto;
     
}

.content{
    background: linear-gradient(0deg, $purple 0%, $blue_easy 100%);
}

.header{
    background: $blue_easy;
}

.main__row{
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;


}
.main__form{
    flex-basis: 40%;
    min-width: 300px;

    line-height: 50px;
    font-size: 30px;
 
    & h1{
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 25px ;
    }

    


    @media (max-width:930px) {
        flex-basis: 100%;
    }


    & .btn{
        @extend %btn;
        @include btn($blue, $blue_grey, $grey,16px); 
    }

    .btn__modifier{

        margin: 0 0 20px 40%;
    }


    input{   
        display: block;
        min-width: 250px;
        max-width: 500px;
        padding: 10px;
        margin: 10px auto;
        border: 2px solid $black;
        border-radius: 7px;
    }

}
.main__image{
   & img{
       max-width: 100%;
       padding: 50px 0;
    }
   flex-basis: 60%;
   min-width: 340px;                // !!!!!!!!!!!!!!!!!

   @media (max-width:930px) {
    flex-basis: 80%;
}
}

.main__notification{

    display: none;

    //position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 150px;
}

.notification__body{

    border: 2px solid #000;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.734);
   
}

.notification__message{
    margin: 25px 0 0 0;
    text-align: center;
    color: rgb(4, 182, 72);
    font-weight: 700;
    padding: 0 0 30px 0;

}

.btn__login_ok{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 50px;
    border: 1px solid rgb(29, 58, 36);
    border-radius: 10px;
    background-color: rgba(6, 239, 80, 0.595);
    font-size: 18px;
    margin-bottom: 30px;
    &:hover{
        background-color: rgba(0, 215, 50, 0.844);
    }
    &:active{
        box-shadow: 0px 3px 6px #000;
    }
    
}