@import "nullstyle.scss";
@import "header_and_footer.scss";
@import "product__column.scss";
@import "color.scss";

.wrapper{
    background: linear-gradient(0deg, $semi-red 0%, $blue_easy 100%);
}

.all_products{

    padding: 20px;

    #all_products__item_title{
        margin-bottom: 20px;
    }
    margin-bottom: 30px;

    border-radius: 17px;
    background-color: $white;
}


.item_title{
    text-align: center;
    font-size: 24px;
    line-height: 20px;
    font-weight: 700;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 0.7px;
    color: $dark_gray;

}

.all_products__row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px auto 30px;
    &-title{
        width: 90%;
    }
    
}


#all_products__select{
    border: 2px solid $black;
    border-radius: 12px;
}

.page_buttons{
    display: flex;
    max-width: 150px;

    margin-left: 20px;
    // margin-bottom: 20px;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: $dark_gray;
        margin-right: 7px;

        color: $white;
        border-radius: 10px;

    }

    & :hover{
        border: 1px solid #000;
        background-color: $blue;
        color: $white;
    }

    img:hover{
        border: 0px;
    }

    & :active{
        background-color: $semi-red; 
        color: $black;

    }
}

